{% extends 'templates/app.twig' %}

{% block nav %}
{% endblock %}

{% block app %}
<div class="wrapper-form wrapper-sign-up">
  <div class="header">
    <div class="title">
      Sign Up Today.
    </div>
  </div>
  <form action="{{ path_for('sign-up') }}" class="form form-sign-up">
    <i class="material-icons">sentiment_very_satisfied</i>
    <div>
      <input class="email-sign-up" type="text" /><p></p>
    </div>
    <div>
      <input class="password-sign-up" type="password" /><p></p>
    </div>
    <input type="submit" value="Sign Up">
    <a class="show-modal" href="#0">Or Sign in</a>
  </form>
</div><!-- end sign-up -->
{% include 'sign-in-modal.twig' %}
{% endblock %}
