{% extends 'templates/app.twig' %}

{% block nav %}
{% if auth.check %}
  <li class="user-name">
    <p>{{ auth.user.email }}</p>
  </li>
  <li class="sign-out">
    <a href="{{ path_for('sign-out') }}">Sign Out</a>
  </li>
{% else %}
  <li>
    <p>Not Logged In</p>
  </li>
{% endif %}

<li>
  <a class="show-modal" href="#0">
    <i class="material-icons">mode_edit</i>
  </a>
</li>
{% endblock %}

{% block app %}
{% for posts in flutter_posts %}
<div class="wrapper-post">
  <div class="post">
    <div class="user-info">
      <img src="../assets/images/flutter.jpeg" />
      <p>
        Email / Time / Date
      </p>
      <div class="delete-post">
        <i class="material-icons">clear</i>
      </div>
    </div>
    <div>
      {{ auth.user.flutter_posts }}
    </div>
  </div>
</div>
{% endfor %}

<div class="modal hidden">
  <div class="wrapper-form wrapper-create-post">
    <div class="header">
      <div class="close-btn">
        <i class="material-icons">clear</i>
      </div>
    </div>
    <form action="{{ path_for('account') }}" method="post" class="form">
      <p>
        What's up?
      </p>
      <div>
        <textarea name="flutter_post" placeholder="140 characters or less..." /></textarea><p></p><!-- next to input for form validation -->
      </div>
      <input type="submit" value="Flutter">
    </form>
  </div><!-- end sign in -->
</div><!-- end modal -->
{% endblock %}
