{% extends 'templates/app.twig' %}

{% block nav %}
<li>
  <a class="show-modal" href="#">Sign In</a>
</li>
<li>
  <a href="{{ path_for('sign-up') }}">Sign Up</a>
</li>
{% endblock %}

{% block app %}
<div>
  <img class="landing" src="../assets/images/flutter.jpeg" alt="flutter image" />
  <div class="text-content">
    <h2>Say Hello!</h2>
  </div>
</div>
<footer>
  <div>
    <a href='http://brandnpatterson.github.io/' target='_blank'>
      ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      &nbsp; Brandon Patterson. All Rights Reserved.
    </a>
  </div>
</footer><!-- end footer -->
{% include 'sign-in-modal.twig' %}
{% endblock %}
