{% block modal %}
<div class="modal hidden">
  <div class="wrapper-form wrapper-sign-in">
    <div class="header">
      <div class="title">
        Sign In to Flutter
      </div>
      <div class="close-btn">
        <i class="material-icons">clear</i>
      </div>
    </div>
    <form action="/action_page.php" class="form form-sign-in">
      <i class="material-icons">sentiment_very_satisfied</i>
      <div>
        <input class="email-sign-in" type="text" /><p></p><!-- next to input for form validation -->
      </div>
      <div>
        <input class="password-sign-in" type="password" /><p></p><!-- next to input for form validation -->
      </div>
      <input type="submit" value="Sign In">
    </form>
  </div><!-- end sign in -->
</div><!-- end modal -->
{% endblock %}
