{% extends 'templates/app.twig' %}

{% block nav %}
{% endblock %}

{% block app %}
<div class="wrapper-form wrapper-sign-up">
  <div class="header">
    <div class="title">
      Sign Up Today.
    </div>
  </div>
  <form action="{{ path_for('sign-up') }}" method="post" class="form form-sign-up">
    <i class="material-icons">sentiment_very_satisfied</i>
    <div>
      <input class="email-sign-up {{ errors.email ? 'has-errors' : '' }}" name="email" type="text" autocomplete="on" /><p></p>
    </div>
    <div>
      {% if errors.email %}
        <p class="input-fail-email">
          {{ errors.email | first }}
        </p>
      {% endif %}
    </div>
    <div>
      <input class="password-sign-up" name="password" type="password" /><p></p>
    </div>
    <input type="submit" value="Sign Up">
    <a class="show-modal {{ errors.email ? "input-fail" : "" }}" href="#0">
      {% if errors.email %}
        Sign in instead?
      {% else %}
        Or Sign in
      {% endif %}
    </a>
  </form>
</div><!-- end sign-up -->
{% include 'sign-in-modal.twig' %}
{% endblock %}
