{% extends 'templates/app.twig' %}

{% block nav %}
<li>
  <a class="show-modal" href="#">Sign In</a>
</li>
<li>
  <a href="sign-up">Sign Up</a>
</li>
{% endblock %}

{% block app %}
<div>
  <img class="landing" src="../assets/images/flutter.jpeg" alt="flutter image" />
  <div class="text-content">
    <h2><a href="#">Say Hello!</a></h2>
  </div>
</div>
{% include 'sign-in-modal.twig' %}
{% endblock %}
