<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Flutter Press</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <ul>
          <li>
            <a class="title" href="{{ auth.user ? path_for('account') : path_for('sign-in') }}">FLUTTER PRESS</a>
          </li>
          {% block nav %}
            <!-- dynamic li for nav -->
          {% endblock %}
        </ul>
      </nav><!-- end nav -->

      {% block app %}
        <!-- dynamic app content -->
      {% endblock %}
    </div><!-- end app content -->
    <script src="js/bundle.js"></script>
  </body>
</html>
